<div class="post">
  <div class="header">
    <h1>Post title</h1>
    <button routerLink="/" class="btn btn-link">На главную</button>
  </div>
  <div class="info">
    <strong>Имя автора</strong>
    <small>11.06.2020</small>
  </div>
  <div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, quibusdam!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, quibusdam!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, quibusdam!
    </p>
  </div>
</div>
